body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /* --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    background-image: linear-gradient(to bottom, rgb(235, 209, 227), rgb(248, 230, 250));
}

.title{
    /* font-family: "BalooExtra", Helvetica, Arial, sans-serif !important; */
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 1), rgba(21, 4, 170, 0.5)), url("../images/smile_doge.png");
    background-position: center;
    background-size: 20%;
    background-repeat:repeat;
    color:rgb(255, 255, 255);
    font-size: 22pt;
    display: block;
    line-height: 65px;
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    padding:10px;
}

#title_heading{
    background-color: rgba(209, 121, 236, 0.7);
    text-align:center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#title_quote{
    background-color: rgba(209, 121, 236, 0.7);
    color: white;
    text-align:center;
    font-size: 18pt;
    line-height: 40px;
    font-weight:230;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.dance_doge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    block-size: 200px;
    background-image: url("../gifs/dance_doge.gif");
    background-repeat: repeat-x;
    background-size: 15%;
    background-position: center;
    width:75%;
    padding:10px;
}

.introduction{
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 255);
    display: block;
    line-height: 65px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 75%;
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.8), rgba(15, 114, 243, 0.7));
    padding: 10px;
}

#introduction_head{
    -webkit-text-stroke-width: 0.4px;
    font-size: 32pt;
    text-align: center;
}
#introduction_para{
    -webkit-text-stroke-width: 0.3px;
    line-height: 45px;
    font-size: 22pt;
}
#center_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.continue{
    font-size:16pt;
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 255);
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 75%;
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.8), rgba(15, 114, 243, 0.7));
    padding: 10px;
}