.menu-container{
    font-size: 16pt;
    /* background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.7), rgba(21, 4, 170, 0.5)), url("../images/cartoon_doge.png"); */
    background-position: center;
    background-size: 40%;
    -webkit-text-stroke-color: #000000;
    color:rgb(0, 0, 0);
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 90%;
    padding: 10px;
}

.menu-heading{
    color: rgb(255,255,255);
    background-color: rgba(0,0,0, 0.2);
    -webkit-text-stroke-width: 1.5px;
    font-size: 50pt;
    font-weight: 900;
    margin: none;
}

.menu-group{
    display: grid;
    grid-template-columns: repeat(4, 27.5%);
    row-gap: 2em;
    margin-left:auto;
    margin-right:auto;
}

.menu-list{
    width: 220px;
    border-radius: 20px;
    border: solid;
    border-color: black;
    padding: none;
    padding-bottom: 20px;
    background-color: white;
    transition: background-color 0.5s;
}

.menu-list:hover{
    background-color: rgb(7, 168, 243);
}

.menu-list-image{
    /* background-color: white; */
    background-image: linear-gradient(to bottom, rgb(23, 245, 108), rgb(243, 242, 255));
    border-bottom: solid;
    border-color: black;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 10px;
    width: 220px;
}



@media(max-width: 790px){
    .menu-container{
        font-size: 14pt;
    }

    .menu-heading{
        font-size: 32pt;
    }

    .menu-group{
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .menu-list{
        width: 180px;
        margin-left:auto;
        margin-right:auto;
    }

    .menu-list-image{
        width: 180px;
    }
}