body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /* --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    background-image: linear-gradient(to bottom, rgb(235, 209, 227), rgb(248, 230, 250));
}

.header{
    display: block;
    font-size:20pt;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    /* padding: 10px; */
}

.nav_bar{
    display: grid;
    grid-template-columns:repeat(5, 20%) ;
    /* grid-auto-columns: 10%; */
    text-align: center;
    list-style-type:none;
    margin-left:auto;
    margin-right:auto;
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 1), rgba(21, 4, 170, 0.5));
    width: 100%;
    /* background-color: rgba(21, 4, 170, 0.5); */
    padding: 0px;
}

li{
    margin-left: -.5px;
    margin-right: -.5px;
    border: 3px;
    border-color: black;
    /* background-color: rgba(21, 4, 170, 0.1); */
    /* float:left; */
}

li a{
    display:block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid;
    border-right: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    text-align: center;
    transition: 0.5s background-color;
    text-decoration: none;
}

a:hover{
    background-color: rgba(255, 255, 255,1);
    color: rgba(0,0,0,1)
}

.title{
    /* font-family: "BalooExtra", Helvetica, Arial, sans-serif !important; */
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.7), rgba(21, 4, 170, 0.5)), url("../images/smile_doge.png");
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/smile_doge.png"); */
    background-position: center;
    background-size: 20%;
    background-repeat:repeat;
    color:rgb(255, 255, 255);
    font-size: 24pt;
    display: block;
    line-height: 65px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding:2px;
}

#title_heading{
    padding:20px;
    background-color: rgba(0,0,0, 0.2);
    text-align:center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#title_quote{
    padding: 10px;
    background-color: rgba(0,0,0, 0.2);
    color: white;
    text-align:center;
    font-size: 16pt;
    line-height: 40px;
    font-weight:bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.dance_doge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    block-size: 12em;
    background-image: url("../gifs/dance_doge.gif");
    background-repeat: repeat-x;
    background-size: 12%;
    background-position: center;
    width:100%;
    /* padding:1em; */
}

.introduction{
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 255);
    display: block;
    line-height: 65px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.8), rgba(15, 114, 243, 0.7));
    padding: 10px;
}

#introduction_head{
    -webkit-text-stroke-width: 0.4px;
    font-size: 32pt;
    text-align: center;
}
#introduction_para{
    font-weight: bold;
    -webkit-text-stroke-width: 0.3px;
    line-height: 45px;
    font-size: 20pt;
}
#center_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.continue{
    font-size:16pt;
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 255);
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.8), rgba(15, 114, 243, 0.7));
    padding: 10px;
}

@media(max-width: 790px){
    .header{
        display:block;
        font-size: 8pt;
        width:100%;
    }
    
    .nav_bar{
        text-align: center;
        padding: 0px;
        /* margin-left:auto;
        margin-right:auto; */
        background-image: linear-gradient(to bottom, rgba(209, 121, 236, 1), rgba(21, 4, 170, 0.5));
        width: 100%;
        /* background-color: rgba(21, 4, 170, 0.5); */
        overflow-x: scroll;
        /* margin: 0; */
    }

    li{
        /* margin-left: -.5px;
        margin-right: -.5px; */
        /* border: 40px; */        
        border: 0px;
        /* display:list-item; */
        /* background-color: rgba(21, 4, 170, 0.1); */
        /* float:left; */
    }

    li a{
        /* padding: 10px; */
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        text-align: center;
        transition: 0.5s background-color;
        text-decoration: none;
    }

    .title{
        line-height: 50px;
    }

    #title_heading{
        font-size: 30pt;
    }

    #title_para{
        font-size:12pt;
    }

    .dance_doge{
        display: block;
        margin-left: auto;
        margin-right: auto;
        block-size: 5em;
        background-image: url("../gifs/dance_doge.gif");
        background-repeat: repeat-x;
        background-size: 20%;
        background-position: center;
        width:100%;
        /* padding:1em; */
    }

    .introduction{
        -webkit-text-stroke-color: black;
        line-height: 30px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(209, 121, 236, 0.8), rgba(15, 114, 243, 0.7));
        padding: 5px;
    }

    #introduction_head{
        -webkit-text-stroke-width: 0.5px;
        font-size: 20pt;
        text-align: center;
    }
    #introduction_para{
        /* font-weight: bold; */
        -webkit-text-stroke-width: 0.5px;
        line-height: 45px;
        font-size: 16pt;
    }
    
}